*{
    margin:0;
    padding:0;
}

.cabecalho{
    padding: 24px 0;
    background-color: rgb(138, 138, 255);
    color: rgb(124, 0, 0);
    display: flex;
    justify-content: space-around;
}

.cabecalholistaitem{
    display:inline-block;
    margin: 0 90px;
    padding: 23px 0;
    font-size: 24px;
}
.sobre-conteudo{
    width:35%;
}

.sobre-imagem{
    width: 24%;
}

.sobre-titulo{
    padding: 240px 0;
}
.sobre{
    background-image:url(img/Rectangle\ 2.png);
    color:#FFFFFF;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 58px 0;
}

.menbro-imagem{
    width:150px;
}

.membro-div{
    text-align:center;
}

.membros-titulo{
    text-align: center;
    padding: 50px 0;
}